# Exploratory Data Analysis

## Importing the libraries

In [79]:
import pandas as pd

## Data Cleaning - Duplicate Data
### Sample Sales Data

This dataset is randomly generated.

In [82]:
sales_df = pd.read_csv('./data/sales/sales.csv')

In [ ]:
# Get the first 5 records
sales_df.head()

In [ ]:
# Get the last 5 records
sales_df.tail()

In [ ]:
# Get 5 random records
sales_df.sample(5)

In [ ]:
# how many records are there?
sales_df.shape

<details>
<summary><strong>Hints on where the duplicate data are</strong></summary>
  
  * 1007 is there twice (same order ID)
  * 1020, 1021, different IDs but same everything else (merge?)
    * 'Product', 'Quantity', 'Date','Customer Name'
</details>

In [ ]:
# Exact duplicates
sales_df.duplicated().sum()

In [ ]:
# Duplicates based on a subset of columns (sum)
sales_df.duplicated(
  subset=['Product', 'Quantity', 'Date','Customer Name']
).sum()

In [ ]:
# Duplicates based on a subset of columns (all)
sales_df.duplicated(
  subset=['Product', 'Quantity', 'Date','Customer Name']
)

In [ ]:
# Control Which one is the duplicate
sales_df.duplicated(
  subset=['Product', 'Quantity', 'Date','Customer Name'],
  keep='last'
)

#### How to deal? Drop

In [ ]:
# Drop the exact duplicates
sales_df1 = sales_df.drop_duplicates()

In [ ]:
# How many records are there now?
sales_df1.shape

In [ ]:
# Drop the semi-duplicates
sales_df2 = sales_df.drop_duplicates(
  subset=['Product', 'Quantity', 'Date','Customer Name']
)

In [ ]:
# How many records are there now?
sales_df2.shape

> Talk about the inplace parameter

#### How to deal? Merge

In [ ]:
# Merge the semi-duplicates
sales_df_grouped = sales_df.groupby(
  ['Product', 'Quantity', 'Date','Customer Name'],
  dropna=False
).agg(
  {
    'Order ID': 'min',
    'Price': 'sum',
    'Address': 'first'
  }
).sort_values('Order ID').reset_index().reindex(columns=sales_df.columns)

sales_df_grouped.shape

In [ ]:
sales_df_grouped

Probably we should use a mix of both. For exact, drop, for semi, merge.

## Data Cleaning - Missing Data
### Sample Sales Data

[ðŸ“œ Pandas `isna()`](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.isna.html#pandas.DataFrame.isna)

In [83]:
# Find missing data (is null/is na)
sales_df.isna()

    Order ID  Product  Quantity  Price  Customer Name  Address  State   Date
0      False    False     False  False          False    False  False  False
1      False    False     False   True          False    False  False  False
2      False    False     False  False          False    False  False  False
3      False    False     False  False          False    False  False  False
4      False    False     False  False          False    False  False  False
5      False    False     False  False          False    False  False  False
6      False    False     False  False          False    False  False  False
7      False    False     False  False          False    False  False  False
8      False    False     False  False          False    False  False  False
9      False    False     False  False          False    False  False  False
10     False    False     False  False          False    False  False  False
11     False    False     False  False          False    False  False  False
12     False    False     False  False           True    False  False  False
13     False    False     False  False          False    False  False  False
14     False    False     False   True          False    False  False  False
15     False    False     False  False          False     True  False  False
16     False    False     False  False          False    False  False  False
17     False    False     False  False           True    False  False  False
18     False    False     False  False          False    False  False  False
19     False    False     False  False          False    False  False   True
20     False    False     False  False          False    False  False  False
21     False    False     False  False          False    False  False  False

In [84]:
# Again with Sum
sales_df.isna().sum()

Order ID         0
Product          0
Quantity         0
Price            2
Customer Name    2
Address          1
State            0
Date             1
dtype: int64

#### How to deal? Drop

In [85]:
sales_df.dropna()

,Order ID,Product,Quantity,Price,Customer Name,Address,State,Date
0,1001,Product A,2,10.99,Customer 1,123 Main St,OH,2022-01-01
2,1003,Product A,3,10.99,Customer 3,789 Oak St,KY,2022-01-03
3,1004,Product C,1,25.99,Customer 4,1011 Pine St,OH,2022-01-04
4,1005,Product B,2,15.99,Customer 1,123 Main St,OH,2022-01-05
5,1006,Product A,1,10.99,Customer 2,456 Elm St,OH,2022-01-06
6,1007,Product D,2,35.99,Customer 3,789 Oak St,OH,2022-01-07
7,1007,Product D,2,35.99,Customer 3,789 Oak St,KY,2022-01-07
8,1008,Product B,1,15.99,Customer 4,1011 Pine St,OH,2022-01-08
9,1009,Product E,2,45.99,Customer 1,123 Main St,OH,2022-01-09
10,1010,Product A,3,10.99,Customer 2,456 Elm St,OH,2022-01-10
11,1011,Product B,1,15.99,Customer 3,789 Oak St,KY,2022-01-11
13,1013,Product A,1,10.99,Customer 1,123 Main St,OH,2022-01-13
16,1016,Product E,3,45.99,Customer 4,1011 Pine St,OH,2022-01-16
18,1018,Product C,1,25.99,Customer 1,123 Main St,OH,2022-01-18
20,1020,Product F,2,10.99,Customer 1,123 Main St,OH,2022-01-19
21,1021,Product F,2,10.99,Customer 1,123 Main St,OH,2022-01-19

#### How to deal? Substitute with correct values

In [86]:
sales_df

,Order ID,Product,Quantity,Price,Customer Name,Address,State,Date
0,1001,Product A,2,10.99,Customer 1,123 Main St,OH,2022-01-01
1,1002,Product B,1,NaN,Customer 2,456 Elm St,OH,2022-01-02
2,1003,Product A,3,10.99,Customer 3,789 Oak St,KY,2022-01-03
3,1004,Product C,1,25.99,Customer 4,1011 Pine St,OH,2022-01-04
4,1005,Product B,2,15.99,Customer 1,123 Main St,OH,2022-01-05
5,1006,Product A,1,10.99,Customer 2,456 Elm St,OH,2022-01-06
6,1007,Product D,2,35.99,Customer 3,789 Oak St,OH,2022-01-07
7,1007,Product D,2,35.99,Customer 3,789 Oak St,KY,2022-01-07
8,1008,Product B,1,15.99,Customer 4,1011 Pine St,OH,2022-01-08
9,1009,Product E,2,45.99,Customer 1,123 Main St,OH,2022-01-09
10,1010,Product A,3,10.99,Customer 2,456 Elm St,OH,2022-01-10
11,1011,Product B,1,15.99,Customer 3,789 Oak St,KY,2022-01-11
12,1012,Product C,2,25.99,NaN,1011 Pine St,OH,2022-01-12
13,1013,Product A,1,10.99,Customer 1,123 Main St,OH,2022-01-13
14,1014,Product D,2,NaN,Customer 2,456 Elm St,OH,2022-01-14
15,1015,Product B,1,15.99,Customer 3,NaN,OH,2022-01-15
16,1016,Product E,3,45.99,Customer 4,1011 Pine St,OH,2022-01-16
17,1017,Product A,2,10.99,NaN,789 Oak St,KY,2022-01-17
18,1018,Product C,1,25.99,Customer 1,123 Main St,OH,2022-01-18
19,1019,Product B,3,15.99,Customer 2,456 Elm St,OH,NaN
20,1020,Product F,2,10.99,Customer 1,123 Main St,OH,2022-01-19
21,1021,Product F,2,10.99,Customer 1,123 Main St,OH,2022-01-19

In [91]:
# Get the rows with missing data
sales_df[sales_df.isna().any(axis=1)]

,Order ID,Product,Quantity,Price,Customer Name,Address,State,Date
1,1002,Product B,1,NaN,Customer 2,456 Elm St,OH,2022-01-02
14,1014,Product D,2,NaN,Customer 2,456 Elm St,OH,2022-01-14
15,1015,Product B,1,15.99,NaN,NaN,OH,2022-01-15
19,1019,Product B,3,15.99,Customer 2,456 Elm St,OH,NaN

In [99]:
sales_df['Price'] = sales_df['Price'].fillna(sales_df['Product'].map(avg_prices['Price']))

,Order ID,Product,Quantity,Price,Customer Name,Address,State,Date
15,1015,Product B,1,15.99,NaN,NaN,OH,2022-01-15
19,1019,Product B,3,15.99,Customer 2,456 Elm St,OH,NaN

In [ ]:
# Check again
sales_df[sales_df.isna().any(axis=1)]

#### How to deal? Substitute with an approximation

In [97]:
prices_mean = sales_df['Price'].mean()
prices_median = sales_df['Price'].median()

sales_df['Price'].fillna(prices_mean, inplace=True)

#### Data Types

<details>
<summary><strong>Expand for a visual summary of the Data Types</strong></summary>
  
  ![Data types](https://miro.medium.com/max/1400/1*kySPZcf83qLOuaqB1vJxlg.jpeg)
</details>

#### [UCI - Auto MPG Dataset](https://archive.ics.uci.edu/ml/datasets/auto+mpg)

This dataset is licensed under a Creative Commons Attribution 4.0 International (CC BY 4.0) license.

In [ ]:
# Import the data
auto_mpg_df = pd.read_table('./data/auto-mpg/auto-mpg.data', sep="\t")

In [ ]:
# Get a random sample of 5 records

For the following attributes, what are their cateogories
  1. mpg:         
  2. cylinders:   
  3. displacement:
  4. horsepower:  
  5. weight:      
  6. acceleration:
  7. model year:  ?
  8. origin:      
  9. car name:

In [ ]:
## Cylinders

In [ ]:
## Model Year

### Missing Data

#### Side: Lambda Functions
Functions that have one one expression.

In [ ]:
add_1900 = lambda x: x + 1900
auto_mpg_df['model_year'].apply(lambda x: x + 1900)

In [ ]:
## Origin
auto_mpg_df['origin_name'] = auto_mpg_df['origin'].astype(str).map({'1': 'US', '2': 'European', '3': 'Asian'})

In [ ]:
auto_mpg_df.describe()

In [ ]:
auto_mpg_df['displacement'].mean()

In [ ]:
auto_mpg_df['displacement'].median()

In [ ]:
from scipy.stats import trim_mean

trim_mean(auto_mpg_df['displacement'], 0.1)

In [ ]:
auto_mpg_df.isnull().sum()

In [ ]:
auto_mpg_df[auto_mpg_df['mpg'].isnull()]

In [ ]:
auto_mpg_df.dropna(subset=["mpg"], inplace=True)

In [ ]:
auto_mpg_df[auto_mpg_df['mpg'].isnull()]

In [ ]:
# Central Tendency measures
auto_displacement_mean = auto_mpg_df['displacement'].mean()
auto_displacement_trimmed_mean = trim_mean(auto_mpg_df['displacement'], 0.1)
auto_displacement_median = auto_mpg_df['displacement'].median()

print("mean is {}, trimmed mean is {}, median is {}".format(auto_displacement_mean, auto_displacement_trimmed_mean, auto_displacement_median))